.article-body
    padding: 30px 0 15px
    background-color: $color-w
    &__upper-text-wrapper
        width: 946px
        margin: 0 auto
    &__text
        width: 65%
        font-size: 18px
        line-height: 30px
        color: $text
    &__title
        margin: 0 0 30px
        font-family: "Roboto Slab", serif
        font-size: 25px
        font-weight: 700
        line-height: 30px
        color: $title
    &__slider-wrapper
        padding: 45px 0 30px
